<h1> ¡Hola. Bienvenidos al chat del ecommerce!</h1>

<div class="box">
    <input id="chatBox" name="chatBox" type="text">
   <div id="messagesLogs"></div>
    

</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- Scripts necesarios El socket.io  instancia su socket antes que el propio. En este caso realTimeProductsScript -->
<script src="/socket.io/socket.io.js"></script> 
<script src="/js/indexchat.js"></script>