<!-- profile.hbs -->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/users.css">
  <title>Perfil</title>
</head>
<body>
  <div class="container">
    <h2>Perfil de Usuario</h2>
    <p><strong>Nombre:</strong> {{firstName}} {{lastName}}</p>
    <p><strong>Email:</strong> {{email}}</p>
    <a href="/api/users/logout" class="logout-button">Cerrar sesión</a>
  </div>
</body>
</html>


